/*Botão de modo claro e escuro*/

/*body{
    transition: all .4s ease;
}

.navbar-brand{
    font-size: 1.3rem;
}

.form-control{
    min-width: 220px;
    border-radius: 25px;
}

.btn{
    border-radius: 25px;
}

.tema-claro{
    background:#f5f5f5;
    color:#222;
}

.tema-escuro{
    background:#121212;
    color:white;
}

/*Botão de código*/

/* BOTÃO ESCONDIDO */

/*#botaoSecreto{
    position: fixed;
    bottom: 15px;
    left: 15px;

    background: transparent;
    border: none;

    color: #666;
    font-size: 18px;

    opacity: 0.3;
    cursor: pointer;

    z-index: 99999;

    transition: 0.3s;
}

#botaoSecreto:hover{
    opacity: 1;
    color: red;
}


/* OVERLAY */

/*#overlaySeita{
    position: fixed;
    inset: 0;

    background: rgba(0,0,0,0.95);

    display: none;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 20px;

    z-index: 99998;
}

#logoSeita{
    font-size: 100px;
    color: red;

    text-shadow:
        0 0 10px red,
        0 0 30px red,
        0 0 60px red;
}

.multidao{
    font-size: 40px;
    color: white;
}

#senhaVilao{
    width: 300px;
    padding: 10px;

    border: none;
    border-radius: 10px;

    text-align: center;
}

#verificarSenha{
    padding: 10px 20px;

    border: none;
    border-radius: 10px;

    background: darkred;
    color: white;
}

/*Botão de modo claro e escuro*/

body{
    transition: all .4s ease;
}

.navbar-brand{
    font-size: 1.3rem;
}

.form-control{
    min-width: 220px;
    border-radius: 25px;
}

.btn{
    border-radius: 25px;
}

.tema-claro{
    background:#f5f5f5;
    color:#222;
}

.tema-escuro{
    background:#121212;
    color:white;
}

/*Botão de código*/

/* BOTÃO ESCONDIDO */

#botaoSecreto{
    position: fixed;
    bottom: 15px;
    left: 15px;

    background: transparent;
    border: none;

    color: #666;
    font-size: 18px;

    opacity: 0.3;
    cursor: pointer;

    z-index: 99999;

    transition: 0.3s;
}

#botaoSecreto:hover{
    opacity: 1;
    color: red;
}